.container-fluid .row .card .card-header .hed-top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

.container-fluid .row .card .card-header .hed-top .hed-tag {
  padding: 0;
  position: relative;
}

.container-fluid .row .card .card-header .hed-top .hed-tag .hed-wrap {
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
}

.container-fluid .row .card .card-header .hed-top .hed-tag .hed-wrap .scroll {
  overflow: hidden;
}

.container-fluid .row .card .card-header .hed-top .hed-tag .hed-wrap .scroll .is-top {
  white-space: nowrap;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  float: left;
  z-index: 2;
}

.container-fluid .row .card .card-header .hed-top .hed-tag .hed-wrap .scroll .is-top .active {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #1890ff;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  background-color: #33cabb;
}

.container-fluid .row .card .card-header .hed-top .hed-tag .hed-wrap .scroll .is-top .item {
  padding: 0 20px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #303133;
  position: relative;
  color: #626b7d;
  padding-left: 0;
  cursor: pointer;
}

.container-fluid .row .card .card-header .hed-top .hed-tag .hed-wrap .scroll .is-top .prich {
  color: #33cabb !important;
}

.container-fluid .row .card .card-body .user-info {
  font-family: PingFang SC, Arial, Microsoft YaHei, sans-serif;
  font-size: 14px;
  color: #626b7d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  padding: 20px;
  text-align: center;
}

.container-fluid .row .card .card-body .user-info .el-avatar {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  color: #fff;
  background: #c0c4cc;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 50%;
  box-sizing: border-box;
  outline: none !important;
  color: #fff;
  background: #c0c4cc;
  height: 100px;
  width: 100px;
  line-height: 100px;
}

.container-fluid .row .card .card-body .user-info .el-avatar img {
  display: block;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-fluid .row .card .card-body .user-info .user-full {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 500;
  color: #262626;
}

.container-fluid .row .card .card-body .user-info .user-description {
  margin-top: 8px;
  color: #626b7d;
}

.container-fluid .row .card .card-body .user-info .user-follow {
  margin-top: 15px;
}

.container-fluid .row .card .card-body .user-info .user-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  margin-top: 18px;
  line-height: 30px;
  text-align: left;
  list-style: none;
}

.container-fluid .row .card .card-body .user-info .user-list li {
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

.container-fluid .row .card .card-body .user-info .user-list li i {
  font-family: remixicon !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  vertical-align: -1.5px;
}

.container-fluid .row .card .card-body .user-info .user-list li .wire {
  margin: 8px 0 28px 0;
  position: relative;
  display: block;
  height: 1px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  background-color: #dcdfe6;
}

.container-fluid .row .card .card-body .user-info .user-list li h5 {
  margin: -20px 0 5px 0;
}
/*# sourceMappingURL=userinof.css.map */