* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, noto sans, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

li {
  list-style-type: none;
}

input,
button {
  border: 0;
  outline: none;
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.box .container .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

.box .container .content .content-inner .login-form-wrapper {
  width: 320px;
}

.box .container .content .content-inner .login-form-wrapper .login-form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #1d2129;
}

.box .container .content .content-inner .login-form-wrapper .login-form-sub-title {
  font-size: 16px;
  line-height: 24px;
  color: #86909c;
}

.box .container .content .content-inner .login-form-wrapper .login-form-error-msg {
  height: 32px;
  color: #f53f3f;
  line-height: 32px;
}

.box .container .content .content-inner .login-form-wrapper .arco-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 32px;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  color: #1d2129;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: text;
  -webkit-transition: color 0.1s cubic-bezier(0, 0, 1, 1), border-color 0.1s cubic-bezier(0, 0, 1, 1), background-color 0.1s cubic-bezier(0, 0, 1, 1);
  transition: color 0.1s cubic-bezier(0, 0, 1, 1), border-color 0.1s cubic-bezier(0, 0, 1, 1), background-color 0.1s cubic-bezier(0, 0, 1, 1);
  background-color: #f2f3f5;
  border-color: transparent;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper:hover {
  background-color: #e5e6eb;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper .arco-input-prefix {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-right: 12px;
  color: #4e5969;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper .arco-input-prefix .arco-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  font-style: normal;
  vertical-align: -2px;
  outline: none;
  stroke: currentColor;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper .arco-input {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  color: inherit;
  line-height: 1.5715;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: inherit;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 1.5715;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper .arco-icon-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 12px;
  color: #4e5969;
  font-size: 12px;
  visibility: hidden;
  cursor: pointer;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper .arco-icon-hover::before {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border-radius: var(--border-radius-circle);
  -webkit-transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
  transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
  content: "";
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper .arco-icon-hover .ccc {
  position: relative;
  -webkit-transition: color 0.1s cubic-bezier(0, 0, 1, 1);
  transition: color 0.1s cubic-bezier(0, 0, 1, 1);
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper .arco-input-suffix {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 12px;
  color: #4e5969;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper .arco-input-suffix .size-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 12px;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-content-wrapper .arco-form-item-content .arco-input-wrapper .arco-input-suffix .size-hover::before {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border-radius: var(--border-radius-circle);
  -webkit-transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
  transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
  content: "";
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .arco-form-item-message {
  min-height: 20px;
  color: red;
  font-size: 12px;
  line-height: 20px;
  display: none;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .verifyCodeDemo {
  position: absolute;
  top: 0;
  right: 0;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-form-item .arco-form-item-wrapper-col .verifyCodeDemo #picyzm {
  height: 32px;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions .arco-checkbox {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 5px;
  font-size: 14px;
  line-height: unset;
  cursor: pointer;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions .arco-checkbox .arco-checkbox-target {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions .arco-checkbox .arco-icon-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 12px;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions .arco-checkbox .arco-icon-hover::before {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border-radius: var(--border-radius-circle);
  -webkit-transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
  transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
  content: "";
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions .arco-checkbox .arco-icon-hover .arco-checkbox-icon {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 2px solid #e5e6eb;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions .arco-checkbox .arco-icon-hover .arco-checkbox-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 6px;
  height: 2px;
  background: var(--color-white);
  border-radius: 0.5px;
  -webkit-transform: translate(-50%) translateY(-50%) scale(0);
          transform: translate(-50%) translateY(-50%) scale(0);
  content: "";
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions .arco-checkbox .arco-icon-hover .arco-checkbox-icon:hover {
  border-color: #c9cdd4;
  -webkit-transition: border-color 0.1s cubic-bezier(0, 0, 1, 1), -webkit-transform 0.3s cubic-bezier(0.3, 1.3, 0.3, 1);
  transition: border-color 0.1s cubic-bezier(0, 0, 1, 1), -webkit-transform 0.3s cubic-bezier(0.3, 1.3, 0.3, 1);
  transition: border-color 0.1s cubic-bezier(0, 0, 1, 1), transform 0.3s cubic-bezier(0.3, 1.3, 0.3, 1);
  transition: border-color 0.1s cubic-bezier(0, 0, 1, 1), transform 0.3s cubic-bezier(0.3, 1.3, 0.3, 1), -webkit-transform 0.3s cubic-bezier(0.3, 1.3, 0.3, 1);
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions .arco-checkbox .arco-icon-hover .arco-checkbox-icon .hide {
  display: none;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions .arco-checkbox .arco-icon-hover .arco-checkbox-icon .xuanzhong {
  color: #165dff;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .login-form-password-actions .arco-checkbox .arco-checkbox-label {
  margin-left: 8px;
  color: #1d2129;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .arco-btn {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  line-height: 1.5715;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  -webkit-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .long {
  display: block;
  width: 100%;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .prmary {
  color: #fff;
  background-color: #165dff;
  border: 1px solid transparent;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .prmary:hover {
  color: #fff;
  background-color: #4080ff;
  border-color: transparent;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item .medium {
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 2px;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item a {
  text-decoration: none;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item a .login-form-register {
  background-color: transparent;
  border: 1px solid transparent;
  color: #86909c;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space .arco-space-item a .login-form-register:hover {
  background-color: #f2f3f5;
}

.box .container .content .content-inner .login-form-wrapper .arco-form .arco-space-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box .container .content .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.box .container .content .footer .arco-layout-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0;
}

.box .container .content .footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  color: #4e5969;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
/*# sourceMappingURL=login.css.map */